<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>FirstTestNGTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getExistingUserReturnsExistingSavedUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>successfulAddUserReturnsTrue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getNonExistingUserReturnsNull</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>globalBeforeMethodSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>localSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>api.WebServiceTestSoftAssert</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>hardAssertStopsImmediately</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>charSetIsUtf8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>statusIs200</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>typeIsJson</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>softAssertContinuesToTheEnd</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>teardown</td>
<td>&nbsp;</td></tr>
</table>
