<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>softwaretestingmaterial</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="739adc">  <td>19/09/11 20:17:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebServiceTestSoftAssert.charSetIsUtf8()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">charSetIsUtf8</td> 
  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>19/09/11 20:17:48</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNGTest.getExistingUserReturnsExistingSavedUser()[pri:0, instance:FirstTestNGTest@2ff4f00f]">getExistingUserReturnsExistingSavedUser</td> 
  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>19/09/11 20:17:48</td>   <td>127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNGTest.getNonExistingUserReturnsNull()[pri:0, instance:FirstTestNGTest@2ff4f00f]">getNonExistingUserReturnsNull</td> 
  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>19/09/11 20:17:48</td>   <td>100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestBaseClass.globalBeforeMethodSetup()[pri:0, instance:FirstTestNGTest@2ff4f00f]">&gt;&gt;globalBeforeMethodSetup</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>19/09/11 20:17:48</td>   <td>124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestBaseClass.globalBeforeMethodSetup()[pri:0, instance:FirstTestNGTest@2ff4f00f]">&gt;&gt;globalBeforeMethodSetup</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>19/09/11 20:17:48</td>   <td>130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitTestBaseClass.globalBeforeMethodSetup()[pri:0, instance:FirstTestNGTest@2ff4f00f]">&gt;&gt;globalBeforeMethodSetup</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>19/09/11 20:17:45</td>   <td>-2916</td> <td title="&gt;&gt;UnitTestBaseClass.globalSetup()[pri:0, instance:FirstTestNGTest@2ff4f00f]">&gt;&gt;globalSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>19/09/11 20:17:48</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebServiceTestSoftAssert.hardAssertStopsImmediately()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">hardAssertStopsImmediately</td> 
  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>19/09/11 20:17:48</td>   <td>110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNGTest.localSetup(java.lang.reflect.Method)[pri:0, instance:FirstTestNGTest@2ff4f00f]">&gt;&gt;localSetup</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>19/09/11 20:17:48</td>   <td>126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNGTest.localSetup(java.lang.reflect.Method)[pri:0, instance:FirstTestNGTest@2ff4f00f]">&gt;&gt;localSetup</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>19/09/11 20:17:48</td>   <td>133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNGTest.localSetup(java.lang.reflect.Method)[pri:0, instance:FirstTestNGTest@2ff4f00f]">&gt;&gt;localSetup</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>19/09/11 20:17:45</td>   <td>-2846</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebServiceBaseClass.setup()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>19/09/11 20:17:48</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebServiceBaseClass.setupMethod()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>19/09/11 20:17:48</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebServiceBaseClass.setupMethod()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>19/09/11 20:17:48</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebServiceBaseClass.setupMethod()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>19/09/11 20:17:48</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebServiceBaseClass.setupMethod()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>19/09/11 20:17:48</td>   <td>86</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebServiceBaseClass.setupMethod()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>19/09/11 20:17:48</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebServiceTestSoftAssert.softAssertContinuesToTheEnd()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">softAssertContinuesToTheEnd</td> 
  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>19/09/11 20:17:48</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebServiceTestSoftAssert.statusIs200()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">statusIs200</td> 
  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>19/09/11 20:17:48</td>   <td>134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNGTest.successfulAddUserReturnsTrue()[pri:0, instance:FirstTestNGTest@2ff4f00f]">successfulAddUserReturnsTrue</td> 
  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>19/09/11 20:17:48</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WebServiceBaseClass.teardown()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2137211482</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>19/09/11 20:17:48</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebServiceTestSoftAssert.typeIsJson()[pri:0, instance:api.WebServiceTestSoftAssert@c818063]">typeIsJson</td> 
  <td>main@2137211482</td>   <td></td> </tr>
</table>
